<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}-Lafayette</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->


{% load static %}
  <!-- Vendor CSS Files -->
  <link href="{% static 'vitrine/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/css/sidebar.css' %}" rel="stylesheet">

</head>

<body>
<header class="text-light navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
<div class="p-2">
    <h2>LaFayette - Admin</h2>
</div>
    <div class="p-2">
        <form method="post">
            {% csrf_token %}
               <button class="btn btn-danger"> Deconnexion</button>
        </form>
     </div>

</header>

<div class="container-fluid">


    <div class="row " id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right " id="sidebar-wrapper">
         <div class="sidebar-heading">{{ user.username }}</div>
      <div class="list-group list-group-flush">
        <a href="{% url 'list_creation' %} " class="list-group-item list-group-item-action bg-light">creation</a>
        <a href="{% url 'list_ctg' %}" class="list-group-item list-group-item-action bg-light">Categorie</a>
        <a href="{% url 'list_sctg' %}" class="list-group-item list-group-item-action bg-light">sous  Categorie</a>


      </div>
    </div>

    <main class="col-12 col-md-9">

             {% block content %}{% endblock %}
    </main>

</div>
</div>
</body>
</html>