<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}-Lafayette</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
{% load static %}
  <!-- Vendor CSS Files -->
  <link href="{% static 'vitrine/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/aos/aos.css' %}" rel="stylesheet">


  <link href="{%static 'vitrine/css/style.css'%}" rel="stylesheet">


</head>

<body>

{% block content %}
{% endblock %}
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Lafayette</h3>
              <p>
                camp sonnel <br>
                oyam abang <br>
              </p>
            </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h3>contact</h3>
                <p>
                    <strong>Phone:</strong> +237 699999999<br>
                    <strong>Email:</strong> lea@example.com<br>
                </p>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="telegram"><i class="bx bxl-telegram"></i></a>
              </div>
            </div>



        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Lafayette</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vitrine/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{%static 'vitrine/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vitrine/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static 'vitrine/vendor/waypoints/jquery.waypoints.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/counterup/counterup.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/venobox/venobox.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/aos/aos.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'vitrine/js/main.js'%}"></script>

</body>

</html>