{% extends 'vitrine/base.html' %}
{% block title %}
    {{ categorie.nom }}
{% endblock %}
{% block content %}
     <header id="header" class="fixed-top header-inner-pages">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'accueil' %} ">Lafayette</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->



    </div>
  </header>
 <main>
     <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Categorie</h2>
          <ol>
            <li><a href="{% url 'accueil' %}">Home</a></li>
            <li>{{ categorie.nom }} -Categorie</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
     <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Categorie</h2>
          <p>{{ categorie.nom }}</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
                {% for scategorie in scategories %}
              <li data-filter=".filter-{{ scategorie.code }}">{{ scategorie.nom }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for creation in creations %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{ creation.sous_categorie }}" >
            <img src="{{ creation.image.url }}" class="img-fluid" alt="" style="object-fit: cover; width: 100%">
            <div class="portfolio-info">
              <h4>{{ creation.nom }}</h4>
              <p>{{ creation.categorie }}</p>
              <a href="{{ creation.image.url }}" data-gall="portfolioGallery" class="venobox preview-link" title="{{ creation.nom }}"><i class="bx bx-plus"></i></a>
                <a href="{% url 'details'  creation.id %} " class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
 </main>


{% endblock %}