{% extends 'vitrine/base.html' %}
{% block title %} {{ creation.nom }}-Details {% endblock %}
{% block content %}
    <header id="header" class="fixed-top header-inner-pages">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'accueil' %} ">Lafayette</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->



    </div>
  </header><!-- End Header -->

    <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Details</h2>
          <ol>
            <li><a href="{% url 'accueil' %}">Home</a></li>
            <li>{{ creation.nom }} -Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section>
      <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
          <img src="{{ creation.image.url }}" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-6 pt-3 pt-lg-0 content">
          <h3>{{ creation.nom }}</h3>
          <p class="font-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <ul>
            <li><i class="bx bx-check-double"></i> {{ creation.categorie }}</li>
            <li><i class="bx bx-check-double"></i> {{ creation.sous_categorie }}</li>

          </ul>
          <p>
            <h4>Desciption</h4>
            {{ creation.description }}
          </p>
        </div>
        </div>

      </div>
    </section>

  </main>

{% endblock %}