{% extends 'vitrine/admin.html' %}
{% block content %}
 <div class="col-lg-6 mt-4 mt-lg-0 justify-content-center">

    <form method="post" class="form">
    {% csrf_token %}
        {% if action == 'add' %}
    <h3 class="text-center text-info">Ajouter une Sous  Categorie</h3>
        <div class="form-group">
            <label for="nom" class="text-info">nom:</label><br>
            <input type="text" name="nom" id="nom" class="form-control">
        </div>
        <div class="form-group">
            <label for="code" class="text-info">code:</label><br>
            <input type="text" name="code" id="code" class="form-control">
        </div>
            <div class="form-group">
                <select name="categori" id="categori" class="custom-select"  >
                    <option  disabled >categories</option>
                    {% for ctg in ctgs %}
                        <option value="{{ ctg.id }}" >{{ ctg.nom }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-info btn-md" value="creer">
        </div>
        {% elif action == 'del' %}
         <div class="form-group">
             <p>voulez vous vraiment {{ sctg.nom }}? </p>
            <input type="submit" name="submit" class="btn btn-danger btn-md" value="supprimer">
        </div>
            {% elif action == 'upd' %}
            <h3 class="text-center text-info">Modifier une sous Categorie</h3>
        <div class="form-group">
            <label for="nom" class="text-info">nom:</label><br>
            <input type="text" name="nom" id="nom" class="form-control"  placeholder="{{ sctg.nom }}" >

        </div>
        <div class="form-group">
            <label for="code" class="text-info">code:</label><br>
            <input type="text" name="code" id="code" class="form-control" placeholder="{{ sctg.code }}">
        </div>
         <div class="form-group">
                <select name="categori" id="categori" class="custom-select"  >
                    <option  disabled >categories</option>
                    {% for ctg in categories %}
                        {% if ctg == sctg.categorie %} }}
                            <option value="{{ ctg.id }}" selected>{{ ctg.nom }}</option>
                        {% else %}
                            <option value="{{ ctg.id }}">{{ ctg.nom }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-info btn-md" value="modifier">
        </div>
    {% endif %}
    </form>

 </div>
{% endblock %}