{% extends 'vitrine/admin.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Code</th>
      <th scope="col">Categorie</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for sctg in scategories %}
        <tr>
             <th scope="col">{{ sctg.id }}</th>
             <th scope="col">{{ sctg.nom }}</th>
             <th scope="col">{{ sctg.code }}</th>
             <th scope="col">{{ sctg.categorie }}</th>
             <th scope="col">
                 <div>
                     <a href="{% url 'del_sctg' sctg.id %}"><i class="icofont-trash"></i></a>
                     <a  href="{% url 'upd_sctg' sctg.id %}"><i class="icofont-pencil"></i></a>
                 </div>
             </th>
        </tr>
{% endfor %}

  </tbody>
</table>
    <a href="{% url 'add_sctg' %} "class ="btn btn-success">ajouter une  sous categorie<i class="icofont-plus"> </i></a>
{% endblock %}