{% extends 'vitrine/admin.html' %}
{% include 'vitrine/logout.html'%}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Categorie</th>
      <th scope="col"> sous Categorie</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for crea in creations  %}
        <tr>
             <th scope="col">{{ crea.id }}</th>
             <th scope="col">{{ crea.nom }}</th>
             <th scope="col">{{ crea.categorie}}</th>
             <th scope="col">{{ crea.sous_categorie}}</th>
             <th scope="col">
                 <div>

                     <a href="{% url  'del_creation' crea.id %} "><i class="icofont-trash"></i></a>
                 </div>
             </th>
        </tr>
{% endfor %}

  </tbody>
</table>
    <a href="{% url 'add_creation' %} "class ="btn btn-success">ajouter une creation <i class="icofont-plus"> </i></a>
{% endblock %}