{% extends 'vitrine/admin.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Code</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for ctg in categories %}
        <tr>
             <th scope="col">{{ ctg.id }}</th>
             <th scope="col">{{ ctg.nom }}</th>
             <th scope="col">{{ ctg.code}}</th>
             <th scope="col">
                 <div>

                     <a href="{% url 'del_ctg' ctg.id %}"><i class="icofont-trash"></i></a>
                     <a href="{% url 'upd_ctg' ctg.id %}"><i class="icofont-pencil-alt-3"></i></a>
                 </div>
             </th>
        </tr>
{% endfor %}

  </tbody>
</table>
    <a href="{% url 'add_ctg' %} " class ="btn btn-success">ajouter une categorie<i class="icofont-plus"> </i></a>
{% endblock %}