<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}-Lafayette</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
{% load static %}
  <!-- Vendor CSS Files -->
  <link href="{% static 'vitrine/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'vitrine/vendor/aos/aos.css' %}" rel="stylesheet"

</head>

 <body>
        <div id="login">
            <h3 class="text-center text-white pt-5">Lafayette</h3>
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="POST">
                                {% csrf_token %}

                                <h3 class="text-center text-info">Lafayette-Login</h3>
                                <div class="form-group">
                                    <label for="username" class="text-info">Username:</label><br>
                                    <input type="text" name="username" id="username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                                <div class="form-group">

                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="connexion">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 <script src="{% static 'vitrine/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{%static 'vitrine/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vitrine/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static 'vitrine/vendor/waypoints/jquery.waypoints.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/counterup/counterup.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/venobox/venobox.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'vitrine/vendor/aos/aos.js'%}"></script>
 </body>
</html>