{% extends 'vitrine/admin.html' %}
 {% block btn %}
    <div class="p-2">
        <form method="post">
            {% csrf_token %}
               <button class="btn btn-danger"> Deconnexion</button>
        </form>
     </div>
 {% endblock %}
{% block username %}
    <h2> {{ user.username }}</h2>
{% endblock %}